body{
  background-color: black;
  padding-top: 55px;
  color: white;
}

#loader{
  margin-top: 10%;
}

i{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.red{
  color: red;
}

.action-btn{
  width:100%;
}

.authorName{
  text-transform: uppercase;
}

#login{
  background: url('../images/fc-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-default{
  background: black;
}

.fc-login-logo{
  margin-top: 30px;
}

.fc-login-box, .fc-settings-box, .user-list{
  background: url('../images/overlay-black.png');
  border: 1px solid red;
  margin-top: 10px;
  color: white;
  padding: 30px;
  border-radius: 5px;
}

.user-list{
  text-align: center;
}

.header, .dropdown-menu, .status, .profile-info, .profile{
    background: url('../images/dark-overlay.png');
}

.header-btn{
  cursor: pointer;
}

/*NAVBAR*/
.navbar td{
  padding: 5px;
}

.navbar .dropdown-menu{
  margin-top: 22px;
  margin-left: -10px;
  border-radius: 0;
}

.dropdown-menu li a{
  background:none;
  color: white;
}

.dropdown-menu li a:hover{
  background:none;
  color: red;
}

/*STATUS*/
.status{
  color: white;
  border-spacing: 10px;
  border-collapse: separate;
  width: 100%;
}

.status-post{
  padding: 10px 0 10px 0;
}

/*PROFILE*/
.profile-spacer{
  height: 370px;
  display: block;
}
.profile-image{
  background: url('../images/placeholders/profile-placeholder.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.profile-info{
  color: white;
  border-radius: 0px 0px 0px 20px;
  position: absolute;
  right:0;
  top: 84px;
  padding: 15px;
}

.profile{
  position: relative;
  bottom:0;
  left: 0px;
  background: url('../images/dark-overlay.png');
  width: 100%;
}

.profile .btn, .status .btn{
  background: none;
  border: 1px solid darkred;
  color: darkred;
}

.profile .btn:hover{
  background: none;
  background-color: darkred;
  border: 1px solid darkred;
  color: black;
}

.photo-posts{
  border-collapse: collapse;
  border-spacing: 200px;
}

.photo-posts td{
  border-spacing: 10px;
  border-collapse: separate;
}

.photo-posts img{
  border-radius: 100px;
  padding: 15px;
}


/*EXPLORE*/
.explore-grid .row{
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 5px;
}

.explore-grid .col-xs-4 {
  padding: 0 1px 0 5px;
}

/*FRIENDS*/
.users{
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid red;
}



img.invert
{
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
}


img.sephia
{
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}

img.grayscale
{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

.filters{
  padding-top: 30px;
  background: black;
  color: red;
  text-transform: uppercase;
  text-align: center;
  font-size: large;

}
